body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #ff4d4d, #ff1a1a);
    text-align: center;
  }
  
  .container {
    padding: 20px;
  }
  
  .banner {
    width: 100%;
    max-width: 100%;
    max-height: 400px;
  }
  
  h2 {
    color: white;
    margin: 20px 0;
    font-size: 24px;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0;
  }
  
  .link-button {
    background: linear-gradient(to right, #ffffff, #e1b1b1); 
    color: #ff1a1a;
    border: 2px solid #cc0000; 
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 4px 10px rgba(255, 26, 26, 0.3); 
  }
  
  .link-button:hover {
    background: linear-gradient(to right, #ff1a1a, #e60000); 
    color: white;
    border-color: white;
    box-shadow: 0 6px 15px rgba(255, 26, 26, 0.6);
  }
  
  
  .icon {
    width: 30px;
    height: 30px;
  }
  
  .footer {
    color: white;
    font-size: 14px;
    margin-top: 30px;
  }
  .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px auto;
    width: auto; 
    flex-wrap: nowrap; 
  }
  
  .footer-logo img {
    width: 100px; 
    height: auto;
  }